*{
	margin: 0px auto;
	padding: 0px auto;
}
body{
	font-family: font-family: 'Poppins', sans-serif;;
	font size: 14px;
	line-height: 24px;

}
h1, h2, h3, h4, h5, h6{
	font-family: sans-serif;

}
a, a:hover{
	text-decoration: none;
}
.container{
	width: 1440px;
	margin: 0px auto;
}

.header{
	width: 100%;
	float: left;
	border-bottom: 2px solid #eee;
	margin: 15px 0px;
	


}


/*global css starts*/
.row{
	width: 100%;
	float: left;


}

}
.col-12{
	width: 100%;
	float: left;
}
.col-6{
	width: 50%;
	float: left;
}
.col-4 {
	width: 33.33%;
	float: left;
}


/*global css ends*/

.header .col-6 .menu{
	width: 100%;
	float: left;
	text-align: right;
   font-family: 'Poppins', sans-serif;

	

}
.header .menu	li{
	list-style-type: none;
	display: inline-block;
	font-size: 14px;
	font-weight: 600;
   margin-right: 2%;
   
}
.header .menu	li a{
	color: midnightblue;
}



.header .col-6 .menu{
	display: inline-block;
}
.banner{
	width: 100%;
	float: left;
	padding: 80px 0px;
	text-align: center;
}

.bannerpic{
	height: 50%;
	width: 50%;
	margin-top: 100px;
}


.banner h1{
	font-size: 54px;
	font-weight: 700;
	color: midnightblue;
	line-height: 54px;

}

.banner h1 span{
	color: dodgerblue;
	

}

.banner p{
	margin-top: 20px;
   font-weight: 500;
   color: midnightblue;
   font-family: 'Poppins', sans-serif;

}
.pre-feature{
	width: 100%;
	float: left;
	padding: 40px 0px;
}
.inner-left{
	width: 100%;
	float: left;
	text-align: right;
	background: oldlace;
	border-radius: 25px;
}

.inner-left h1	{
	
	font-size: 90px;
	font-weight: 700;
	color: orangered;
	margin: 0px 25px 0px 0px;
	margin-bottom: 10px;
	margin-top: 20px;
}
 
.inner-left p{
   font-family: 'Poppins', sans-serif;
   color: midnightblue;
   font-weight: 300;
   line-height: 24 px;
   margin-top: 30px;
}

.inner-right h1{
	width: 100%;
	float: left;
	font-size: 55px;
	line-height: 65px;
	margin-left: 25px;
	font-family: 'Poppins', sans-serif;
   font-weight: 700;
   color: midnightblue;
   background: bisque;
   border-bottom-right-radius: 25px;
   border-top-left-radius: 25px;
}

.feature{
	width: 100%;
	float: left;
	padding: 80px 0px;
}

.fst-feature{
	width: 80%;
	float: left;
	padding: 40px 25px;
	margin: 0px 15px;
	border-radius: 25px;
}
.fst-feature .fimg{
  width: 100%;
  height: 280px;

  

}  

.cl1{
	background: mistyrose;
}
.fst-feature h5{
	 font-family: 'Poppins', sans-serif;
	 color: midnightblue;
}

.fst-feature p{
	 font-family: 'Poppins', sans-serif;
	 color: navy;
}
.scnd-feature{
 background: mintcream;
 padding: 40px 25px;
 margin: 0px 15px;
 border-radius: 25px;
}

.scnd-feature .fimgtw{
	width: 100%;
	height: 280px;
	
}

.thrd-feature{
	padding: 40px 25px;
   margin: 0px 15px;
	background: oldlace;
	border-radius: 25px; 
}
.thrd-feature .fimgth{
	width: 100%;
	height: 280px;
	
}

.scnd-feature h5{
  font-family: 'Poppins', sans-serif;
  color: midnightblue;
  font-weight: 700;
}


.thrd-feature h5{
  font-family: 'Poppins', sans-serif;
  color: midnightblue;
  font-weight: 700;
}

.scnd-feature p {
	font-family: 'Poppins', sans-serif;
   color: midnightblue;
}

.thrd-feature p {
	font-family: 'Poppins', sans-serif;
	color: midnightblue;
}

.footer{
	width: 100%;
	float: left;
	padding: 15px 0px;
	background: dodgerblue;
}
 .footer p{
 	text-align: center;
 	color: white;
 	line-height: 24px;

 }
 
 .footer p a{
 	font-weight: 700;
 	letter-spacing: 5px;
 	text-transform: uppercase;
 	color: white;
 }


/*for most of the mobile phones.*/
@media (min-width: 320px) and (max-width: 480px) {
 /*start*/
.container{
	width: 100%;
	
}

.row{
	width: 100%;
	float: left;
}

}
.col-12{
	width: 100%;
	float: left;
}
.col-6{
	width: 100%;
	float: left;
}
.col-4 {
	width: 100%;
	float: left;
}
/*end*/

}
/*for most of the mobile phones and low resolution tablets.*/

@media	(min-width: 481px) and (max-width: 720px){
	.container{
	width: 100%;
	
}

.row{
	width: 100%;
	float: left;
}

}
.col-12{
	width: 100%;
	float: left;
}
.col-6{
	width: 100%;
	float: left;
}
.col-4 {
	width: 100%;
	float: left;
}

}